body {
	font-family: Arial, Helvetica, sans-serif;
	font-family: "Roboto", sans-serif;
}

.flexer {
	display: flex;
	background-color: rgb(94, 47, 93);
	height: 50px;
	padding: 10px 10px;
	justify-content: space-between;
	align-items: center;
}

.text {
	color: white;
}

input {
	margin: 0px 50px;
	flex: 1;
	border-radius: 15px;
	border-style: none;
	padding: 10px 10px;
}

button {
	padding: 10px 10px;
	border-radius: 2px;
	border-style: solid;
	border-color: white;
	background-color: rgb(94, 47, 93);
	color: white;
}
