.logo {
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
    padding: 20px 30px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    object-fit: cover;
    margin-right: 5px;
}

.logo .club-name {
    /* background-color: antiquewhite; */
    margin-top: 7px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(239, 239, 239);
    font-weight: 900;
}

button.logo {
    cursor: pointer;
    background: none;
    border: none;
}
