.orange {
	font-family: Arial;
	color: rgb(255, 100, 0);
}

.price {
	font-family: Arial;
	font-size: 25px;
}

.usd {
	font-family: Arial;
	font-size: 15px;
}

.green {
	font-family: Arial;
	color: rgb(30, 140, 30);
}

.gray {
	font-family: Arial;
	color: rgb(100, 100, 100);
}
